<div class="{{ classes|join(' ') }}" uk-slider>
    <ul class="uk-slider-items uk-grid {{ gridGap }} uk-grid-match {{ widths|join(' ') }}">
    	{% for item in items %}	
        <li>
            {% if item.body %}
            <div class="uk-card uk-card-primary">
            	<div class="uk-card-body">	
            		{{ item.body }}
            	</div>
            </div>
            {% elseif item.img %}
            	<img src="{{ item.img }}" alt="">
            	{# TODO: add panel content if item.panel #}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

	{% if nav %}
		{% include '../slidenav/slidenav.twig' with {
			'large': false,
			'hover': true,
			'for': 'slider',
			'positionPrev': [
				'uk-position-center-left',
				'uk-position-small'
			],
			positionNext: [
				'uk-position-center-right',
				'uk-position-small'
			]
			}
		%}
	{% endif %}    
</div>