{# Default Modal with Header, Body, Footer, and internal close 'x' button #}
{% set classes = 'uk-modal-dialog' %}
	{% if container %}
		{% set classes = classes ~ ' uk-modal-container' %}
	{% endif %}
	{% if vertical %}
		{% set classes = classes ~ ' uk-margin-auto-vertical' %}
	{% endif %}
<div id="{{id}}" class="uk-flex-top" uk-modal>
	<div class="{{ classes }}" {{ closeOutside ? '' : 'uk-overflow-auto' }}>
			<button class="{{ closeOutside ? 'uk-modal-close-outside' : 'uk-modal-close-default' }}" type="button" uk-close></button>
		{% if header and title %}
			<div class="uk-modal-header">
		    	<h2 class="uk-modal-title">{{ title }}</h2>
		    </div>
		    <div class="uk-modal-body">
		{% elseif title %}
			<div class="uk-modal-body">
			<h2 class="uk-modal-title">{{ title }}</h2>
		{% endif %}
		    {{ body }}
		</div>
		{% if footer %}
			<div class="uk-modal-footer {{ footer.align }}">
				{{ footer.body }}
			</div>
		{% endif %}
	</div>
</div>