<a class="{{ large ? 'uk-slidenav-large' : 'uk-slidenav' }} {{ positionPrev|join(' ') }} {{ hover ? 'uk-hidden-hover' }}" 
	href="" uk-slidenav-previous></a>
<a class="{{ large ? 'uk-slidenav-large' : 'uk-slidenav' }} {{ positionNext|join(' ') }} {{ hover ? 'uk-hidden-hover' }}" 
	href="" uk-slidenav-next></a>