{% set type = buttonType %}
{% set label = buttonLabel %}
{# {% include '../button/button.twig' %} #}

<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
    	{% for item in items %}
        	<li class="{{ item.active ? 'uk-active' }} {{ item.divider ? 'uk-nav-divider' }} {{ item.navHeader ? 'uk-nav-header' }}">
        		<a href="{{ item.href }}">{{ item.title }}</a>
        	</li>
    	{% endfor %}
    </ul>
</div>